@font-face{
    font-family: 'arcade';
    src: url("../fonts/ARCADECLASSIC.TTF");
}

body{
    background-color: black;
}

#red_scoreboard{
    right:0;
}

#blue_scoreboard{
    left:0;
}
/* .col {
    display: flex;
}; */